.search {
  width: 500px;
  margin: auto;
  margin-top: 10px;
  font-size: 24px;
  line-height: 2rem;
}

.search-input {
  width: 400px;
  font-size: 24px;
  margin: 0 auto 20px 10px;
  border-radius: 4px;
  border: none;
  vertical-align: top;
}

.search-input:focus {
  outline: none;
}

.search-results {
  width: 500px;
  margin: auto;
  max-height: 650px;
  padding: 0;
}

.pagination-controls {
  width: 100%;
  vertical-align: text-bottom;
}

.total-matches {
  font-size: 24px;
  margin-bottom: 20px;
}

.page-previous {
  font-size: 24px;
  margin: 20px;
  float: right;
}

.page-next {
  font-size: 24px;
  margin: 20px;
  float: right;
}

.page-details {
  margin-left: 20px;
}
